<div>
  <dl>
    <dt>Contact Categories</dt>
    <dd>1 - Family</dd>
    <dd>2 - Friend</dd>
    <dd>3 - Work</dd>
  </dl>
</div>

<form method="post" action="/new">
  <div>
    <label for="name">Name:
      <input id="name" name="name" placeholder="John Doe">
    </label>
  </div>

  <div>
    <label for="number">Number:
      <input id="number" name="number" placeholder="123456789">
    </label>
  </div>

  <div>
    <label for="email">Email:
      <input id="email" name="email" placeholder="john.doe@example.com">
    </label>
  </div>

  <div>
    <label for="category">Category:
      <input id="category" name="category" placeholder="1, 2, or 3">
    </label>
  </div>

  <button type="submit">Add Contact</button>
</form>
<br>
<a class="button-link" href="/">Home</a>